###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
*.sheetconfig eol=crlf